.box {
  background: #a5bbdd;
  border-radius: 8px;
  box-shadow: 0 4px 48px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  min-height: 470px;
  height: 100%;

  .inputData {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
  }

  .inputField {
    width: 50%;
    margin: auto;
    border-radius: 80px;
    border: none;
    padding: 16px;
    font-size: 24px;
  }
}

.errorMsg {
  text-align: center;
  font-size: 32px;
  margin: 32px auto;
}

.info {
  .location {
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
  }
  .temp {
    text-align: center;
    margin-top: 30px;

    h2 {
      font-size: 35px;
      font-weight: 700;
    }
  }
}
.wave {
  opacity: 0.3;
  position: absolute;
  top: 120%;
  left: 50%;
  background-color: white;
  width: 800px;
  height: 800px;
  margin-left: -400px;
  margin-top: -310px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
  z-index: -1;
}

.two {
  animation: drift 7000ms infinite linear;
  opacity: 0.1;
  z-index: 3 !important;
}

.three {
  animation: drift 5000ms infinite linear;
  opacity: 0.2;
  z-index: 2 !important;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
